/* 
======================================
CATEGORIES STYLES 
======================================
*/

.categories {
    margin: 5rem;
}

.categories-wrapper {
    max-width: 1080px;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.category-cards {
    flex-basis: 30%;
    min-width: 15.5rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.category-cards img {
    object-fit: cover;
    width: 100%;
    padding-bottom: 1rem;
}

.category-cards a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.category-cards h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.category-cards hr {
    width: 60%;
    margin: auto;
}


/* 
======================================
CATEGORIES BUTTON STYLES 
======================================
*/

.hover-container {
    overflow: hidden;
}

.info-container {
    padding-top: 2rem;
    width: 100%;
}

.image-container {
    position: relative;
    height: 20rem;
}

.hover img {
    transition: all 0.3s;
}

.hover:hover img {
    transform: scale(1.1);
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-hover {
    transition: all 0.3s;
}

.category-btn {
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-size: bold;
}

.category-btn:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 995px) {
    .category-cards:last-of-type {
        flex-basis: 100%;
    }
    .category-cards:not(:last-child) {
        flex-basis: calc(50% - 0.5rem);
    }
    .category-cards:not(:last-child):first-child {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 770px) {
    .category-cards {
        min-width: 100%;
    }
    .category-cards:not(:last-child):first-child {
        margin-right: 0;
    }
    .category-cards {
        flex-basis: 100%;
    }
    .category-cards:last-of-type {
        flex-basis: 100%;
    }
}