/* 
======================================
(HOMEPAGE) NAVBAR STYLES 
======================================
*/

.nav-links li {
    text-decoration: none;
    /* padding-right: 1rem; */
}

.nav-links a {
    text-decoration: none;
    color: #555;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

nav .nav-links li:not(:last-child):hover {
    border-bottom: 1px solid #555;
}

nav .nav-links a {
    font-size: 1rem;
    cursor: pointer;
}


/* 
======================================
ICON STYLES 
======================================
*/

nav .bars-icon {
    color: #555;
    font-size: 1.3rem;
    display: none;
}

nav .close-icon {
    display: none;
}


/* 
======================================
RESPONSIVE STYLES 
======================================
*/

@media screen and (max-width: 1270px) {
    nav .bars-icon {
        display: block;
        cursor: pointer;
    }
    nav .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        height: 100vh;
        background-color: #555;
        padding: 3rem;
        width: 100%;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
        z-index: 100;
    }
    nav .nav-links li a {
        color: #fff;
    }
    nav .bars-icon {
        color: #555;
    }
    nav .close-icon {
        display: block;
        color: #fff;
        width: 100%;
        text-align: right;
        cursor: pointer;
        transition: all 0.3s;
        padding-bottom: 2rem;
        font-size: 1.3rem;
    }
    nav .close-icon:hover {
        color: #ff523b;
    }
    nav .bar-icon {
        color: #fff;
    }
    nav .nav-links li {
        margin-left: 2rem;
        padding: 1.5rem 3rem;
        transition: transform 0.3s;
    }
    nav .nav-links li:not(:last-child):hover {
        border-bottom: 0px;
        transform: scale(1.1);
    }
}