.brands {
    margin: 6.25rem auto;
}

.brands .col-5 {
    width: 10rem;
}

.brands .col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.brands .col-5 img:hover {
    filter: grayscale(0);
}