.featuredProducts-container {
    margin: 0 4rem;
}

.featuredProducts-title {
    text-align: center;
    margin: 0 5rem;
    position: relative;
    line-height: 4rem;
    color: #555;
}

.featuredProducts-title::after {
    content: '';
    background-color: #ff523b;
    width: 5rem;
    height: 0.5rem;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}