/* 
======================================
RATINGS STYLES
======================================
 */

.rating span {
    display: inline-block;
    color: #ff523b;
    margin: 0.1rem;
}

.rating span:last-child {
    display: block;
    color: #555;
    padding-right: 0.1rem;
}